/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --bg-image: none;

  min-height: 100vh;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(
      120deg,
      #f5e9f0,
      #e8dff0,
      #dbe7f3,
      #f5e9f0
    );

  background-size: 400% 400%;
  animation: gradientMove 16s ease-in-out infinite;

  transition: background 0.8s ease;
}

body.has-image {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    var(--bg-image);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation: none; /* pára o gradiente */
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.app {
  width: 360px;
  padding: 20px;

  /* vidro */
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(18px) saturate(140%);
  -webkit-backdrop-filter: blur(18px) saturate(140%);

  border-radius: 18px;

  /* borda glass */
  border: 1px solid rgba(255, 255, 255, 0.4);

  /* sombra suave */
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.2),
    inset 0 1px 1px rgba(255, 255, 255, 0.4);
}

/* Área do select + botão */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* Select e botão maiores */
select,
button {
  font-size: 13.5px;
  padding: 6px 12px;
  border: 1px solid #888;
  border-radius: 4px;
  background: white;
}

/* Cursor no botão */
button {
  cursor: pointer;
}

button:hover {
  background: #ddd;
}

/* Secção do tempo (escondida no início) */
.hidden {
  display: none;
}

/* Info do tempo */
#weather-info {
  margin-top: 30px;
}

.weather-main {
  text-align: center;
  margin-bottom: 24px;
}
#location {
  text-align: center;
  font-family: "Comforter Brush", cursive;
  font-size: 65px;        /* AQUI é onde fica grande */
  font-weight: 350;
  color: #eeeeee;        /* branco */
  margin-bottom: 20px;
  letter-spacing: 10px;
  text-shadow:
    0 3px 3px rgba(201, 200, 200, 0.876);
}

#weather-icon {
  display: block;
  margin: 0 auto 16px auto;
  width: 60px;
}

#weather-description {
  font-size: 16px;
  opacity: 0.75;
}

.weather-details {
  font-size: 15px;
  text-align: left;
  margin-top: 16px;
}

.weather-details p {
  margin-bottom: 8px;
}


.city-clock {
  font-size: 1.1rem;
  opacity: 0.8;
  margin-bottom: 10px;
}